@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap');
:root {
  --main-green: #1A734A;
  --dark-green:#014034;
  --light-green: #3CA674;
  --black:#0D0D0D;
  --white:#FEFDFB;

}
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.hidden{
	display:none;
}

.container{
	width: 100%;
	overflow: auto;
	margin: 0 auto;
}
.flex{
	display: flex;
	align-items: center;
}

.menu_active a{
	border-bottom: 3px solid var(--white);

}
.menu_active{
	background-color: var(--main-green);

}

.p-1{padding: 10px;}
.p-2{padding: 25px;}
.p-3{padding: 40px;}
.p-4{padding: 75px;}

.py-1{padding: 10px 0;}
.py-2{padding: 20px 0;}
.py-3{padding: 30px 0;}
.py-4{padding: 40px 0;}
.py-5{padding: 50px 0;}
.py-6{padding: 60px 0;}
.py-7{padding: 70px 0;}
.py-8{padding: 80px 0;}





.px-1{padding: 0 10px;}
.px-2{padding: 0 25px;}
.px-3{padding: 0 40px;}
.px-4{padding: 0 75px;}

.m-1{margin: 10px;}
.m-2{margin: 20px;}
.m-3{margin: 30px;}
.m-4{margin: 40px;}

.mx-1{margin: 0 10px;}
.mx-2{margin: 0 20px;}
.mx-3{margin: 0 30px;}
.mx-4{margin: 0 40px;}

.my-1{margin: 10px 0;}
.my-2{margin: 20px 0;}
.my-3{margin: 30px 0;}
.my-4{margin: 40px 0;}
.my-5{margin: 50px 0;}
.my-6{margin: 60px 0;}
.my-7{margin: 70px 0;}
.my-8{margin: 80px 0;}

.btn{
	display: inline-block;
	padding: 10px 30px;
	cursor: pointer;
	background-color: var(--main-green);
	color: var(--white);
	border:none;
	border-radius: 5px;
}

.btn:hover{
	background-color: var(--white);
	color: var(--dark-green)
}

.btn-outline{
	display: inline-block;
	padding: 10px 30px;
	cursor: pointer;
	background-color: transparent;
	border:1px  var(--white) solid;
	color: var(--white);
}
.btn-outline:hover{
	transform: scale(0.98);
}


